<IfModule mod_rewrite.c>
    <IfModule mod_env.c>
        SetEnv TMP "C:/Users/user/PENS/Herd/pokemon-deck/storage/framework/tmp"
        SetEnv TEMP "C:/Users/user/PENS/Herd/pokemon-deck/storage/framework/tmp"
    </IfModule>

    <IfModule php_module>
        php_value upload_tmp_dir "C:/Users/user/PENS/Herd/pokemon-deck/storage/framework/tmp"
        php_value sys_temp_dir "C:/Users/user/PENS/Herd/pokemon-deck/storage/framework/tmp"
        php_value session.save_path "C:/Users/user/PENS/Herd/pokemon-deck/storage/framework/tmp"
    </IfModule>

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
